@using Rtippo6Sivkov.Data
@using Microsoft.EntityFrameworkCore
@using Newtonsoft.Json
@using Rtippo6Sivkov.Controllers
@inject ApplicationDbContext DbContext

@{
    ViewBag.Title = "Реестр организаций";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Реестр организаций</h1>
</div>
@*<pre style="text-align: left">@JsonConvert.SerializeObject(organizations, Formatting.Indented)</pre>*@

<button class="add-org-btn" onclick="window.location='@Url.Action("GetSearch", "OrgRegistry")'">
    Поиск
</button>

@{
    var sort = Context.Session.GetString("Sort") ?? "default";
}

<select onchange="window.location=`@(Url.Action("Sort", "OrgRegistry"))?sort=${this.value}`" id="sort-select">
    <option value="default">Сортировка по порядку добавления</option>
    <option value="defaultR">Сортировка по порядку добавления (обратный)</option>
    <option value="name">Сортировка по наименованию (А -> Я)</option>
    <option value="nameR">Сортировка по наименованию (Я -> А)</option>
    <option value="type">Сортировка по типу (А -> Я)</option>
    <option value="typeR">Сортировка по типу (Я -> А)</option>
    <option value="locality">Сортировка по населенному пункту (А -> Я)</option>
    <option value="localityR">Сортировка по населенному пункту (Я -> А)</option>
    <option value="address">Сортировка по адресу регистрации (А -> Я)</option>
    <option value="addressR">Сортировка по адресу регистрации (Я -> А)</option>
    <option value="inn">Сортировка по ИНН (0 -> 9)</option>
    <option value="innR">Сортировка по ИНН (9 -> 0)</option>
    <option value="kpp">Сортировка по КПП(0 -> 9)</option>
    <option value="kppR">Сортировка по КПП(9 -> 0)</option>
</select>
<script>
const sortSelect = document.getElementById("sort-select");
sortSelect.value = "@sort";
</script>
@{
    SearchOrganizationsViewModel? filter = null;

    if (Context.Session.Keys.Contains("Filter"))
    {
        var filterString = Context.Session.GetString("Filter");
        filter = JsonConvert.DeserializeObject<SearchOrganizationsViewModel>(filterString)!;
        
        <br/>
        <span>Фильтр: @filter</span><button onclick="window.location='@Url.Action("ClearSearchFilter", "OrgRegistry")'">Сбросить фильтр</button>
    }

    var filtererSorter = new OrganizationFiltererSorter(DbContext.Organizations, filter, sort);
}

<table class="org-table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Наименование</td>
        <td>Тип</td>
        <td>Населенный пункт</td>
        <td>Адрес</td>
        <td>ИНН</td>
        <td>КПП</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var org in filtererSorter.Organizations)
    {
        <tr>
            <td>@org.Id</td>
            <td>
                <b>@org.Name</b><br/>
                <a asp-controller="OrgRegistry" asp-action="Read" asp-route-id="@org.Id">Открыть</a><br/>
                <a asp-controller="OrgRegistry" asp-action="GetEdit" asp-route-id="@org.Id">Редактировать</a><br/>
                <a asp-controller="OrgRegistry" asp-action="Delete" asp-route-id="@org.Id">Удалить</a>
            </td>
            <td>@org.Type.Name</td>
            <td>@org.Locality.Name</td>
            <td>@org.Address</td>
            <td>@org.Inn</td>
            <td>@org.Kpp</td>
        </tr>
    }
    </tbody>
</table>

<button class="add-org-btn" onclick="window.location='@Url.Action("GetAdd", "OrgRegistry")'">
    Добавить новую организацию
</button>

<style>
    .org-table {
        border: 1px solid black;
    }
    .org-table td {
        border: 1px solid black;
        padding: 0.25em 0.5em;
    }
    
    .org-table td:nth-child(1) {
        width: 2%;
    }
    .org-table td:nth-child(2) {
        width: 16%;
    }
    .org-table td:nth-child(3) {
        width: 14%;
    }
    .org-table td:nth-child(4) {
        width: 10%;
    }
    .org-table td:nth-child(5) {
        width: 40%;
    }
    .org-table td:nth-child(6) {
        width: 9%;
    }
    .org-table td:nth-child(7) {
        width: 9%;
    }
    
    .add-org-btn {
        margin: 1em 0;
    }
</style>